<div class="row">
    <%= r_card do %>
    <%= r_card_title actions: [{name: "new", path: new_store_path}] do %>
    <% end %>
    <%= r_card_content do %>
      <% r_table do %>
          <tr>
            <th>ID</th>
            <th>Name EN</th>
            <th>Name JP</th>
            <th>Allowed pet types</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
          </tr>
          </thead>
          <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td><%= store.id %></td>
              <td><%= link_to(store.name_eng, store_path(store)) %></td>
              <td><%= store.name_jp %></td>
              <td><%= store.pet_type %></td>
              <td><%= store.status %></td>
              <td><%= store.created_at %></td>
              <td><%= store.updated_at %></td>
            </tr>
          <% end %>
          </tbody>
      <% end %>
  <% end %>
  <% end %>
</div>