<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="table-light">
          <tr>
            <th>id</th>
            <th>name EN</th>
            <th>name JP</th>
            <th>allowed pet types</th>
            <th>status</th>
            <th>created at</th>
            <th>updated at</th>
          </tr>
          </thead>
          <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td><%= store.id %></td>
              <td><%= link_to(store.name_eng, store_path(store)) %></td>
              <td><%= store.name_jp %></td>
              <td><%= store.pet_type %></td>
              <td><%= store.status %></td>
              <td><%= store.created_at %></td>
              <td><%= store.updated_at %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>