<%= r_card do %>
  <%= r_card_title actions: [{name: "New", path: new_user_path}] do %>
  <% end %>
  <%= r_card_content do %>
    <%= r_table do %>
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Created</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  <% end %>
<% end %>